<div class="controls">
  {{view Todo.Input.TextFieldWithLength valueBinding="view.title" placeholder="Title" class="span10"}}
  {{view Todo.Input.TextFieldWithLength valueBinding="view.content" placeholder="Todo content" class="span10"}}

</div>
{{view Todo.Button.Submit }}
